*{
    margin: 0;
    padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
	background: #BBBBBB;
	padding: 5px 0;
}
header img{
	height: 90px;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 35px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}
footer {
	text-align: center;
	background: url("../Imagens/bg.jpg");
	padding: 40px 0;
}
footer img{
	height: 100px;
}
.copyright {
	color: #FFFFFF;
	font-size: 13px;
}