#banner {
	width:40%;
	height: 400px;
	margin-left: 1%;
	border-radius: 5px;
}

.principal{
	padding: 30px;
	width: 55%;
}
.principal p{
	margin-top: 30px;
	font-size: 26px;
}
.principal h2{
	font-size: 30px;
}
.imagem-texto{
	margin-top: 100px;
	display: flex;
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center
}

.centralizacao {
	text-align: center;
}


em strong {
	color: #FF0000;
}

.itens {
	font-style: italic;
	margin-top: 85px;
	font-size: 25px;
}

.beneficios {
	margin-top: 100px;
	background: #FFFFFF;
	padding: 20px;
}

.beneficios-lista {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 7%;
	margin-left: 15%;
}
.beneficios h3{
	position: relative;
	right: 30%;
	font-size: 32px;
}
.lista-imagem{
	margin-top: 15px;
}
.imagembeneficios {
	width: 50%;
	border-radius: 15px;
}